body{
     background-image: url("https://image.freepik.com/free-vector/cat-cartoon-background_265-2147486960.jpg");
     background-colour: #ffcccc;
     background-blend-mode: lighten;
}

h1{
     font-family: "Comic Sans MS", cursive, sans-serif;
     colour: #ccccff;
}

p{
     font-family: "Trebuchet MS", Helvetica, sans-serif;
}
